<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
<style type="text/css">
#pos_center {
	position: relative;
	text-align:center
}
}
</style>
</head>
<body id="pos_center">
	<h2>Drools功能测试</h2>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">积分反馈的结果是：</h3>
			<span th:text="${bonus}"> </span>
		</div>
	</div>
	<p></p>
	<div th:include="index :: return"></div>
</body>
</html>